apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ template "common.names.name" . }}-loadbalancerip-ip
  namespace: {{ template "common.names.namespace" . }}
  annotations:
    nginx.ingress.kubernetes.io/proxy-buffer-size: 16k
    nginx.ingress.kubernetes.io/proxy-buffers-number: "4"
spec:
  ingressClassName: nginx-loadbalancerip
  tls:
    - hosts:
        - {{ .Values.keycloakHostname }}
      secretName: erwin-portal-default-tls
  rules:
    - host: {{ .Values.keycloakHostname }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ template "common.names.name" . }}
                port:
                  number: 80
