annotations:
  images: |
    - name: apache-exporter
      image: docker.io/lusotycoon/apache-exporter:v1.0.12
    - name: moodle
      image: ghcr.io/dbildungsplattform/moodle:4.5.8-debian-12-r0-dbp1
    - name: os-shell
      image: docker.io/bitnamilegacy/os-shell:12-debian-12-r50
  licenses: Apache-2.0
  tanzuCategory: application
apiVersion: v2
appVersion: 4.5.8
description: Moodle(TM) LMS is an open source online Learning Management System widely
  used at universities, schools, and corporations. It is modular and highly adaptable
  to any type of online learning.
home: https://bitnami.com
icon: https://dyltqmyl993wv.cloudfront.net/assets/stacks/moodle/img/moodle-stack-220x234.png
keywords:
- moodle
- learning
- php
name: moodle
version: 27.0.4
